<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <link rel="stylesheet" href="../add.css">
</head>
<body onload="loading()">
    <div id="loader"></div>
    <h1 id="fetch"></h1>
    <div style="display:none;" id="content" class="animate-bottom">
  
       
        <div class="icon-scroll" id="small-menu" >
        <div class="icon-bar" id="myIcons">


           <a class="active" href="/dashboard">    <i class="fas fa-home" style="color: #fff;"></i></a> 
          <a href="/new"> <i class="fas fa-plus" style="color: #fff;"></i><span>Add</span></a>  
            <a href="/share"><i class="fas fa-share"style="color: #fff;"></i><span>Add</span></a>
            <a href="/completed"><i class="fas fa-check-double"style="color: #fff;"></i><span>Add</span></a>
            <a href="/incomplete"><i class="fas fa-spinner"style="color: #fff;"></i><span>Add</span></a>
            <a href="/settings"><i class="fas fa-cog"style="color: #fff;"></i><span>Add</span></a>
            <a href="/users/logout"><i class="fas fa-sign-out-alt fa-1.8x" style="color: #fff;"></i><span>Add</span></a>
        </div>
        </div>
    <div class="main" id="myMain">
        <div class="pic"> 
       
        </div>
        <div class="details">
            <h1>Create a workout Goal</h1>
            <form method="post" role="form">
                <div class="form-group">
                    <input type="text" id="goal" name="goal" placeholder="Goal" required>
                </div>
               
                <div class="form-group">
                    <input type="date" id="started" name="started" placeholder="date" required>
                </div>
                 <div class="form-group" id="ckedit">
                 <p>
                    <label for="milestones">Description</label>
                    <textarea id="description" rows="4" cols="50" name="description" placeholder="Describe goal"> </textarea></p>
          
                </div>

                 <div>
              <input type="checkbox" name="repeat" id="agree" value="yes"/>
             <label for="agree">Repeat goal</label>
              </div>
                <div class="form-group">
                    <input type="submit" value="Add">
                </div>
            </form>
        </div>
    </div>
    </div>
    <script>
        
        var myVar;

        function loading() {
            myVar = setTimeout(showPage, 1500);
        }

        function showPage() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("fetch").style.display = "none";
            document.getElementById("content").style.display = "block";
        }
    </script>
    <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.14.1/ckeditor.js"
      integrity="sha256-bEIQpI72w9NJuIVhTLFUF2/8uxl0u5800r8ddViuv+o=" 
      crossorigin="anonymous">
    </script>
    <script>
    
    </script>
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    <script>
        const options = {
            bottom: '64px', // default: '32px'
            right: '32px', // default: '32px'
            left: 'unset', // default: 'unset'
            time: '0.5s', // default: '0.3s'
            mixColor: '#fff', // default: '#fff'
            backgroundColor: '#fff',  // default: '#fff'
            buttonColorDark: '#100f2c',  // default: '#100f2c'
            buttonColorLight: '#fff', // default: '#fff'
            saveInCookies: true, // default: true,
            label: '🌓', // default: ''
            autoMatchOsTheme: true // default: true
        }
    
        const darkmode = new Darkmode(options);
        darkmode.showWidget();
  </script>
</body>
</html>