<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <link rel="stylesheet" href="../edit.css">
</head>
<body onload="loading()">
   <div id="loader"></div>
    <br>
    <h1 id="fetch"></h1>
    <div style="display:none;" id="content" class="animate-bottom">
      
        
        <div class="icon-scroll" id="small-menu" >
        <div class="icon-bar" id="myIcons">


           <a class="active" href="/dashboard">    <i class="fas fa-home" style="color: #fff;"></i></a> 
          <a href="/add"> <i class="fas fa-plus" style="color: #fff;"></i><span>Add</span></a>  
            <a href="/completed"><i class="fas fa-check-double"style="color: #fff;"></i><span>Add</span></a>
            <a href="/logout"><i class="fas fa-sign-out-alt fa-1.8x" style="color: #fff;"></i><span>Add</span></a>
        </div>
        </div>
    <div class="main" id="myMain">
        <div class="pic"></div>
        <div class="details">
            <h1>Edit Goal</h1>
            {{#goal}}
            <form method="post" role="form">
                <div class="form-group">
                    <input type="text" id="title" name="title" value="{{goal}}" >
                </div>
                
                <div class="form-group">
                    <input style="margin-left:10px" type="date" id="started" name="started" value="{{started}}" >
                </div>
                <div class="form-group" id="ckedit">
                 <p>   
                    <label >Change Description</label>
                    <textarea  style=" font-family: 'Advent Pro', sans-serif" id="description" rows="4" cols="50" name="description" placeholder="{{description}}" > </textarea></p>
          
                </div>

                
                <div class="form-group">
                    <input type="submit" value="Update">
                </div>
            </form>
            {{/goal}}
        </div>
    </div>
    </div>
    <script>
      
        var myVar;

        function loading() {
            myVar = setTimeout(showPage, 1500);
        }

        function showPage() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("fetch").style.display = "none";
            document.getElementById("content").style.display = "block";
        }
    </script>
    <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.14.1/ckeditor.js"
      integrity="sha256-bEIQpI72w9NJuIVhTLFUF2/8uxl0u5800r8ddViuv+o=" 
      crossorigin="anonymous">
    </script>
   
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    
</body>
</html>