<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{heading}}</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;500&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/ce2599d1b2.js" crossorigin="anonymous"></script>
