<!DOCTYPE html>
<html lang="en">
<head>
     {{>header}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="../home.css">
</head>
<body>
    <div class="main">
        <div class="space"></div>
        <h1>Welcome to Phoenix Tracker</h1>
        <h2>Track your goals and share with friends and family</h2>
        <a id="login" href="/users/login">Login</a>
        <a href="/users/signup">Sign Up</a>
    </div>
    </div>
</body>
</html>