<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <link rel="stylesheet" href="../login.css">
</head>
<body onload="loading()">
    <div id="loader"></div>
    <div style="display:none;" id="content" class="animate-bottom">
    <div class="main" id="myMain">
        <div class="pic"></div>
        <div class="details">
            <h1>Login to Phoenix tracker</h1>
            {{#alert1}}
                <p class="alert">{{success_msg}}</p>
            {{/alert1}}
            {{#alert2}}
                <p class="alert" id="inc">{{error_msg}}</p>
            {{/alert2}}
            {{#alert3}}
                <p class="alert" id="inc">{{error}}</p>
            {{/alert3}}
            <form method="post" role="form">
                <div class="form-group">
                    <i class="fas fa-envelope" style="color: #666;"></i>
                    <input type="email" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <i class="fas fa-lock" style="color: #666;"></i>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input type="submit" value="Login">
                </div>
            </form>
            <div class="cre">
            <a href="/users/register" class="create">Sign up</a>
            <i class="fas fa-arrow-right fa-sm"></i>
            </div>
        </div>
    </div>
    </div>
    <script>
        var myVar;

        function loading() {
            myVar = setTimeout(showPage, 1500);
        }

        function showPage() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("content").style.display = "block";
        }
    </script>
</body>
</html>